In [20]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from PIL import Image

In [51]:
df = pd.read_json('data/annotations/test_unseen.jsonl', lines=True)

In [18]:
for i in df.iterrows():
    print(i[1])
    break

id                                  15740
img                         img/15740.png
text    when someone tells you how to bbq
Name: 0, dtype: object

In [ ]:
final = dict()
plt.ion()
for i in df.iterrows():
    i = i[1]
    img = Image.open('data/'+str(i.img)).convert('RGB')
    plt.imshow(img)
    plt.show()
    inp = input("One or zero.")
    final[i.id] = inp
    continue

In [ ]:
final

In [28]:
pd.DataFrame(final.keys(), final.values())

        0
0   15740
0   38794
1   60792
1   71824
1    4796
..    ...
1   95213
1    8269
1   25641
0   54982
0   32809

[177 rows x 1 columns]

In [38]:
from random import randint
import torch

In [37]:
l1,l2,l3=[],[],[]

In [50]:
import random
for i in df.iterrows():
    i = i[1]
    val = random.random()
    l1.append(i.id)
    l2.append(val)
    l3.append(torch.nn.functional.softmax(torch.tensor(val),dim=0).numpy())

AttributeError: 'Series' object has no attribute 'id'

In [48]:
dd=pd.DataFrame(list(zip(l1, l2, l3)))

In [49]:
df

          0         1           2
0     15740  0.395286  tensor(1.)
1     15740  0.954328  tensor(1.)
2     15740  0.703522  tensor(1.)
3     15740  0.929455  tensor(1.)
4     38794  0.557920  tensor(1.)
...     ...       ...         ...
3995  87945  0.347954  tensor(1.)
3996  31526  0.639250  tensor(1.)
3997  37916  0.378392  tensor(1.)
3998  71352  0.278534  tensor(1.)
3999   2164  0.762468  tensor(1.)

[4000 rows x 3 columns]